#container {
    display:flex;
    flex-direction:column;
    border:1px solid;
    max-width: 150px;
    max-height: 175px;
}

#display {
    display:flex;
    justify-content:center;
    height: 40px;
    margin: 2px;
}

div[id^="row"],#operators {
    display:flex;
    justify-content: space-evenly;
    margin:2px;
}

#input {
    display:flex;
    justify-content: center;
    border:1px solid;
    width: 132px;
    align-items:center;
}

div[id^="row"] *,#operators * {
    display:flex;
    border:1px solid;
    height:25px;
    width: 25px;
    justify-content: center;
    align-items: center;
}