#container {
    display:flex;
    flex-direction:column;
    border:1px solid;
    max-width: 500px;
    max-height: 500px;
}

#display {
    display:flex;
    justify-content:space-evenly;
}

div[id^="row"],#operators {
    display:flex;
    justify-content: space-evenly;
}

